
.divider {
 margin-left: 300px;
 margin-right: 150px;
 border-bottom: solid 5px red;
}

.dashboard-nav a {
 margin-left: 50px;
 padding: 0;
}

section {
 margin: 50px 20px;
}

.selector-title {
 padding: 20px;
}

.selector-dropdown {
 text-align: center;
}

.split-chart {
 margin: 0px 50px;
}

.by-venue {
 margin-left: 200px;
}

#gigs-by-town .x.axis text {
 text-anchor: end !important;
 transform: rotate(-40deg);
}


#gigs-by-venue .x.axis text {
 text-anchor: end !important;
 transform: rotate(-80deg);
}

#avg-commission-per-venue .x.axis text {
 text-anchor: end !important;
 transform: rotate(-80deg);
}

.footer-section {
 background-color: blue;
}